@import "app.scss";

.home{

  >article{

    >section{
      @extend .container-fluid;
      margin-top: 4%;
      text-align: center;
    }

    >section.intro{

      >center{
        @include make-xs-column(10);
        @include make-sm-column(8);
        @include make-md-column(6);
        @include make-lg-column(6);
        @include make-xs-column-offset(1);
        @include make-sm-column-offset(2);
        @include make-md-column-offset(3);
        @include make-lg-column-offset(3);
      }

      h1{
        font-weight: bold;
      }
    }

    >section.quotes{
      @extend .quote-container;
      text-align: left;
      background-color: #80A1C1;
    }

    >section.awards{

      >article{
        @include make-xs-column(6);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        img{
          width: 80%;
        }
        p{
          margin-top: 10%;
        }
      }
    }

    >section.contact{
      background-color: #80A1C1;
      color: #333;
      padding-bottom: 6%;
      padding-top: 6%;
      >div.relax-image{
        @include make-xs-column(6);
        @include make-sm-column(3);
        @include make-sm-column-offset(3);

        img{
          @extend .img-circle;
          width: 100%;
        }
      }
      >div.relax-text{
        @include make-xs-column(3);

        h3{
          margin-top:10%;
        }

      }
    }
  }
}

.quote-container{

  >article{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(6);
    @include make-lg-column(6);
  }

  h1{
    //color: #efefef;
    //color: black;
    color: #333;
  }

  blockquote{

    @include make-row;
    @include clearfix;

    border-left: none;
    margin: 0;
    margin-bottom: 10px;

    content: "\f10d";
    float: left;
    margin-right: 10px;

    .avatar{
      @include make-xs-column(4);
      @include make-sm-column(3);
      @include make-md-column(3);
      @include make-lg-column(3);
      img{
        @extend .img-circle;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }

    .quote{
      @include make-xs-column(8);
      @include make-sm-column(9);
      @include make-md-column(9);
      @include make-lg-column(9);

      //color: #efefef;
      color: #333;

      small{
        color: #333;
        //color: #e0e0e0;
      }

      p:before{
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
      }
    }
  }
}
